@using System.Threading
@model WEB.Models.QuestionViewModel

<h2>Questions from thematic field </h2>
<p>
    @Html.ActionLink("Add new question", "Create")
</p>
<table class="table">
    <tr>
        <th>Question number</th>
        <th>Text of question</th>
        <th></th>
        <th></th>
    </tr>


    @{int count = 1;}
    @foreach (var item in Model.Questions) {
        <tr>
            <td>
                <p> <%= count%></p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Show answers", "Index", "Answer", new {id = item.Id}, null) |

                @Html.ActionLink("Edit question", "Edit", new {id = item.Id}) |

                @Html.ActionLink("Delete question", "Delete", new {id = item.Id})
            </td>
        </tr>
        count++;
    }

</table>

<div>
    @Html.ActionLink("Back to thematic fields", "ThematicFields", "ThematicField")
</div>
